.modal-post-upload {
    padding: $s20-d;
    // background-color: $white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw !important;
    height: 38vw;
    z-index: 999;
    border: 0 !important;
    border-radius: $s25-d;
    outline: unset;
    background: linear-gradient(237deg, #150832ad 0.82%, #0000007d 129.1%);
    backdrop-filter: blur(7px);
    box-shadow: 6px 0px 68px 37px rgb(255 255 255 / 10%) !important;

    & .card-user {
        position: relative;
        width: 100%;
        height: 100%;

        & .cardInfo {
            height: 33.7vw;
        }

        & .light-input label {
            color: $white-color !important;
        }

        & .card-content {
            & .boxUploadSection {
                & .boxupload {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: $s20-d;
                    height: 15.28vw;
                    background-color: #F8F8FF;
                    border: $s2-d dashed $primary-color;
                    border-radius: $s25-d;
                    position: relative;

                    & img {
                        width: 80px;
                    }

                    & input {
                        position: absolute;
                        opacity: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 2;
                        cursor: pointer;
                    }

                }

                & .video-thumbnail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: $s20-d;
                    height: 5.28vw;
                    background-color: #F8F8FF;
                    border: $s2-d dashed $primary-color;
                    border-radius: $s25-d;
                    position: relative;
                    overflow: hidden;

                    & .ImagePreview {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    & .removeThubmnailImage {
                        z-index: 4;
                        color: white;
                        position: absolute;
                        top: $s10-d;
                        right: $s20-d;
                        cursor: pointer;
                        width: $s25-d;
                        height: $s25-d;

                    }

                    & #Thumbnail {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                        cursor: pointer;
                    }
                }
            }
        }

        & .UploadProgress {
            & .MuiLinearProgress-colorPrimary {
                background-color: #7f56d91f !important;
                border-radius: 1.73vw;
                height: 1vw !important;
                transform: translateY(1.3vw);

                & .css-5xe99f-MuiLinearProgress-bar1 {
                    background-color: $primary-color !important;
                }
            }
        }

        & .card-footer {
            & .btn-next {
                width: 100%;
            }
        }



        & .boxinputsSection {
            & input {
                border-color: $primary-color !important;
                outline: unset;
                box-shadow: unset;
            }
        }
    }
}

//  .PopupUpload {
//     & .MuiBox-root {
//         border-radius: 25px;
//     }

//     & .PopupUpload-content {
//         height: 20vw;
//         width: 31vw;
//         border-radius: 20px;
//     }
// }


// position: 'absolute',
// top: '50%',
// left: '50%',
// transform: 'translate(-50%, -50%)',
// width: 540,
// bgcolor: 'background.paper',
// boxShadow: 24,
// p: 4,

.popupDisplayVideo {
    // position: relative;
    // width: 800px !important;
    // height: 450px !important;
    overflow: hidden;
    border: unset !important;
    background-color: transparent !important;

    & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: unset !important;

    }
}

.display_video_popup {
    // background-color: red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000f2;
    border-radius: unset !important;

    & .video-wrapper {
        width: 60vw;
        height: 40vw;

        & .box_video {
            background-color: $black-color;
        }

        & .video_tools {
            & .liked {
                .likes-video {
                    position: relative;

                    &::before {
                        content: url("../../../icons/LikedIcon.svg");
                        position: absolute;
                        top: 0.2vw;
                        left: -1.6vw;
                        z-index: 2;
                        width: 1.2vw;
                    }
                }
            }

            & img {
                width: 1.2vw;
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    transform: rotate(-30deg) scale(1.2);
                }
            }
        }
    }
}

.MuiBox-root {
    background-color: #000000c4 !important;
    border: $s7-d solid #ffffff0f;
    width: 60vw;
    height: 40vw;
    overflow: hidden;
    border-radius: $s15-d;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}