#login-auth {
    & .right-side {
        & .right-side-wrapper {

            & .form-header {
                & .btn {
                    & img {
                        // Desktop
                        @media (min-width: 992px) {
                            width: $s25-d;
                            height: $s25-d;
                        }
                    }
                }
            }

            & #remmeberme {
                // Desktop
                @media (min-width: 992px) {
                    width: $s10-d;
                    height: $s10-d;
                }
            }
        }
    }
}