#userNav {
    & .user-menu {
        position: relative;
        & .user-avatar {
            object-fit: cover;
            width: 3vw;
            height: 3vw;
            object-position: center;
            border: $s4-d solid $white-color;
        }
        & .user-list-options {
            display: none;
            opacity: 0;
            position: absolute;
            bottom: -10.7vw;
            right:  0;
            width: 8vw;
            background-color: $primary-color;
            
            & p {
                color: $white-color;
                &:hover {
                    color: $black-color;
                    cursor: pointer;
                }
            }
        }
        &:hover {
            & .user-list-options {
                opacity: 1;
                display: flex;
            }
        }
    }
}