#LatestUsersList {
    & .wrapper {
        & img {
            filter: grayscale(1);
            transition: all 0.2s;
            cursor: pointer;
            object-fit: cover;

            &:hover {
                filter: grayscale(0);
                transform: scale(1.2);

            }
        }
    }
}