#LatestUsersList {
    overflow: hidden;

    & .wrapper {
        & img {
            filter: grayscale(1);
            transition: all 0.2s;
            cursor: pointer;
            object-fit: cover;
            object-position: center;
            width: 100% !important;
            height: 100% !important;

            &:hover {
                filter: grayscale(0);
                transform: scale(1.2);

            }
        }
    }
}