#MostFollowedUsers {
    padding-top: 15.63vw;

    & .users-listing {
        & .swiper {
            width: 100%;

            & .swiper-wrapper {
                gap: $s20-d ;

                & .card-user {
                    & a {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                    }
                    & .user-avatar {
                        & img {
                            width: 100%;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}